/* color theme used for this https://color.adobe.com/claustrophobia-5-color-theme-8656345 */

.below_menu_container {
  padding-top: 50px;
  padding-bottom: 70px;
}

.navbar-static-bottom {
	background-color: #A3EBF7;
	color: #005361;
}

.btn {
	background-color: #00D9FF;
	color: white;
}

h2 {
	color: #005361;
}

.jumbotron h1 {
	color: #005361;
}

h3 {
	color: #6C8B00;
}

.care {
	margin: 10px auto;
	padding: 10px;
	height: 350px;
	background-color: #A3EBF7;
	border-width: 1px;
	border-color: #00D9FF;
	border-style: solid;
	border-radius: 5px;
	color: #005361;
	text-align: left;
}

.care h3 {
	text-align: center;
}

.care img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.smallerwidth{
	max-width: 1000px;
}

.boxed-form{
	max-width: 300px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	padding: 15px;
	border-color: grey;
}

.comment_box{
	max-width: 500px;
	margin-top: 15px;
}
