nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-family: arial,sans-serif;
	overflow: hidden;
	background-color: #333;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #111111;
}